#content {
width: 720px;
float: left;
padding-bottom: 6px;
border-right: 1px dotted #CCC;
border-top: 1px solid #CCC;
word-wrap: break;
overflow: hidden;
}
div.glassbox div.title-bar {
background: #b00;
color: #FFF;
padding: 4px;
margin-bottom: 8px;
}
div.glassbox div.title-bar {
color: #FFF;
}
div.glassbox div.title-bar span.title {
height: 24px;
font-size: 14px;
margin-left: 2px;
font-weight: bold;
}
div.glassbox div.boxContent {
overflow: hidden;
height: 150px;
}
div#favBox div.favBottom {
height: 30px;
background: #f2f2f2;
border-top: 1px solid #CCC;
padding-top: 4px;
z-index: 100056;
width: 490px;
position: absolute;
bottom: 24px;
left: 25px;
}
a {
color: #333;
text-decoration: none;
}
div.shteapiq4moresec a, a:visited {
text-decoration: none;
}
a.closeButton {
background: #f0f0f0;
padding: 0 4px;
border-top: 1px solid #e7e7e7;
border-left: 1px solid #e7e7e7;
border-right: 1px solid #666;
border-bottom: 1px solid #666;
color: #333;
text-decoration: none;
display: inline-block;
margin-top: 10px;
}
div#favBox div.favBottom a.closeButton {
margin-left: 430px;
margin-top: 3px;
display: inline-block;
}
#contentInfo {
zoom: 1;
position: relative;
border-left: 1px solid #dbdbdb;
border-bottom: 1px solid #dbdbdb;
margin-bottom: 10px;
padding-bottom: 10px;
}
h1, h2 {
clear: right;
}
#content h1 {
margin: 0 0 10px;
text-align: left;
line-height: 25px;
width: 710px;
padding: 5px 10px;
background: #f1f1f1;
}
#contentInfo .topicImg {
float: left;
margin: 0 0 0 10px;
text-align: center;
_display: inline;
}
div.shteapiq4moresec a, a:visited {
text-decoration: none;
}
#contentInfo a {
color: #333;
text-decoration: underline;
}
#contentInfo .topicImg a {
display: block;
}
#contentInfo .topicImg img.cover {
padding: 3px;
border: 1px solid #ccc;
width:128px;
}
#contentInfo .block1 {
float: left;
width: 580px;
}
#contentInfo .block11 {
float: left;
border-right: 1px dotted #ccc;
width: 310px;
overflow: hidden;
}
#contentInfo .block1 ul {
padding: 0;
margin: 0 10px;
list-style: none;
}
#contentInfo .block1 li {
line-height: 22px;
}
#contentInfo .block2 {
width: 100%;
line-height: 22px;
padding: 10px 0 0;
height: 45px;
}
a.addFavModule_a {
display: block;
width: 120px;
height: 30px;
background: url(/public/images/favorite.gif) no-repeat center top;
}
div.shteapiq4moresec a, a:visited {
text-decoration: none;
}
#contentInfo a {
color: #333;
text-decoration: underline;
}
div#shte_mainbox {
position: absolute;
cursor: move;
/*
margin-left: -20px;
margin-top: -200px;
*/
}
body:first-of-type #favWindow {
margin-top: 200px;
}
div#favWindow div.loginNote {
width: 430px;
background: #c00000;
color: white;
font-weight: bold;
padding-top: 2px;
height: 24px;
text-align: left;
}
div#favWindow div.loginNote {
color: white;
font-weight: bold;
text-align: left;
}
iframe {
margin: 0;
}
#favIframe {
width: 430px;
height: 160px;
}
div.glassbox div.bottom-bar {
margin-left: 375px;
height: 40px;
}
div#favWindow div.bottom-bar {
padding-top: 24px;
height: 24px;
}
body:first-of-type div#favWindow div.bottom-bar {
margin-top: -28px;
}
a.closeButton {
background: #f0f0f0;
padding: 0 4px;
border-top: 1px solid #e7e7e7;
border-left: 1px solid #e7e7e7;
border-right: 1px solid #666;
border-bottom: 1px solid #666;
color: #333;
text-decoration: none;
display: inline-block;
margin-top: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
div#favWindow a.closeButton {
margin-top: -3px;
margin-left: 2px;
}
div#favWindow div.bottom-bar a.closeButton {
display: inline-block;
margin-bottom: 42px;
}
.group-mods {
width: 100%;
margin-bottom: 0;
z-index: -1;
}
.tab-nav {
float: none!important;
float: left;
}
.tab-nav, .extra-nav {
margin-bottom: 15px;
background: url(/public/images/tab-line.gif) bottom repeat-x;
float: left;
overflow: hidden;
}
.tab-nav ul, .extra-nav ul {
margin: .5em 0 0 0;
padding: 0 0 0 1em;
list-style: none;
}
.tab-nav li, .extra-nav li {
margin: 0 1px 0 0;
padding: 0 5px 0 0;
background: url(/public/images/tab-back.png) 100% -100px;
float: left;
border-bottom: 1px solid #bbb;
}
.tab-nav li.current, .extra-nav li.current {
border-bottom: 1px solid #fff;
background: url(/public/images/tab-back.png) 100% 0;
}
.tab-nav li a, .tab-nav li a:visited, .extra-nav li a, .extra-nav li a:visited {
color: #000!important;
display: block;
float: left;
padding: 5px 17px 5px 19px;
text-align: center;
white-space: nowrap;
background: url(/public/images/tab-back.png) 0 -100px;
text-decoration: none!important;
min-height: 17px;
color: #322f29;
}
.tab-nav li.current a, .tab-nav li.current a:link, .tab-nav li.current a:visited, .extra-nav li.current a, .extra-nav li.current a:link, .extra-nav li.current a:visited {
background: url(/public/images/tab-back.png) 0 0;
outline: 0;
}
.blog_entry {
padding: 3px 3px 6px 3px;
line-height: 1.8em;
text-align: left;
margin-bottom: 0;
}
.iptcom {
clear: both;
line-height: 22px;
}
#theRel, #con_theRel {
display: block;
}
.restable {
margin-bottom: 14px;
float: left;
text-align: center;
display: block;
}
.tab_con_tab {
display: none;
}
#content h3 {
margin: 6px 0;
color: #666;
}
#content h3 a {
color: #c00;
}
a#extred2k {
font: 12px normal;
text-decoration: underline;
}
.emuletop-no {
clear: both;
background: #efefef;
text-align: center;
color: #999;
padding: 5px 0 5px 0;
}
.topic_admin_class_edit {
text-align: right;
padding-right: 10px;
}
#ds-thread {
clear: both;
position: relative;
overflow: visible;
_zoom: 1;
}
#wrap #navside {
float: left;
width: 252px;
margin-left: 6px;
}
#favriteuser, #userres, #relativeres, #relatiGood, #relMore, dl#hotres, dl#hotentry, #userres, #hotComments {
width: 252px;
overflow: hidden;
}
#favriteuser h3, #weluser h3, #userres h3, #relativeres h3, #hotres dt, #hotentry dt, #hotComments h3, #relatiGood h3 {
font-size: 12px;
font-weight: bold;
margin: 10px 0;
padding: 6px;
padding: 4px;
color: #FFF;
background: url(/public/images/title-bg.jpg) repeat-x;
}
img.closebtn {
float: right;
margin-top: -26px;
margin-right: 8px;
cursor: pointer;
}
.tac {
text-align: center !important;
}
#relativeres #relMore {
margin: 0;
padding: 0;
padding-left: 0;
margin-top: -10px;
padding-bottom: 12px;
}
dl#hotres dd.itshot, dl#hotentry dd.itshot {
text-align: center;
border-bottom: 1px dotted #CCC;
}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}

