<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{pipicms:strip}<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>高级搜索：{pipicms:searchnum}个结果 {searchpage:year} {searchpage:area} {searchpage:typename} - {pipicms:sitename}</title>
<meta name="keywords" content="自行定义关键词" />
<meta name="description" content="自行定义描述" />
<link href="images/../css/Common.css" rel="stylesheet" type="text/css" />
<link href="images/../css/channel.css" rel="stylesheet" type="text/css" />
<link href="images/../css/channel-list.css" rel="stylesheet" type="text/css" />
<link href="images/../css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="images/../js/jquery.min.js"></script>
<script type="text/javascript" src="images/../js/language.js"></script>
</head>
<body>
{pipicms:top}
<div class="wrap w960">
	<div class="maxBox mt10">
		<div class="box">
			<div class="tips">当前位置：当前位置：<a href='/' >首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;高级搜索</div>
		</div>
	</div>
	<div class="ad960 mt10 mb10">954*80 顶部广告位</div>
	<div class="maxBox lb mb10 mt10">
		<div class="filter_select_con">
			<div class="filter_select_con_th"><a href="/search.php?searchtype=5" class="resetBtn">重置条件</a><span class="sNum">
				<h1><b>你已选择：</b><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">{searchpage:typename} {searchpage:area} {searchpage:year} {searchpage:lang} {searchpage:letter}</b></h1>
				</span><span class="sMark">影片索引</span><span class="filter_select_con_hot"></span>
			</div>
			<div class="filter_select_con_tb clearfix">
				<dl class="p2">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按分类</b>|</dt>
					<dd>{pipicms:typeitemlist type=5,6,7,8,9,10,11,12,13,14,15,16,28}<a href="[typeitemlist:link]">[typeitemlist:value]</a><em>|</em>{/pipicms:typeitemlist}</dd>
					<dd>{pipicms:typeitemlist type=3,4,29}<a href="[typeitemlist:link]">[typeitemlist:value]</a><em>|</em>{/pipicms:typeitemlist}</dd>
				</dl>
				<dl class="p1">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按地区</b>|</dt>
					<dd>{pipicms:areaitemlist}<a href="[areaitemlist:link]">[areaitemlist:value]</a><em>|</em>{/pipicms:areaitemlist}</dd>
				</dl>
				<dl class="p3">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按年份</b>|</dt>
					<dd>{pipicms:yearitemlist}<a href="[yearitemlist:link]">[yearitemlist:value]</a><em>|</em>{/pipicms:yearitemlist}</dd>
				</dl>
				<dl class="p4">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按语言</b>|</dt>
					<dd>{pipicms:langitemlist}<a href="[langitemlist:link]">[langitemlist:value]</a><em>|</em>{/pipicms:langitemlist}</dd>
				</dl>
				<dl class="p8">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按字母</b>|</dt>
					<dd>{pipicms:letteritemlist}<a href="[letteritemlist:link]">[letteritemlist:value]</a><em>|</em>{/pipicms:letteritemlist}<em>|</em></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="maxBox lb">
		<div class="cntBox">
			<div class="conBox">
				<div class="box">
					<div class="caption bigCaption channel-title fa-clear">
						<h2 class="hide-self fa-left">筛选“{if:{searchpage:typename}=""}{else}{searchpage:typename}{end if}{if:{searchpage:area}=""}{else} {searchpage:area}{end if}{if:{searchpage:year}=""}{else} {searchpage:year}{end if}{if:{searchpage:lang}=""}{else} {searchpage:lang}{end if}{if:{searchpage:letter}=""}{else} {searchpage:letter}{end if}”的视频共有 {pipicms:searchnum} 个符合条件的结果</h2>
					</div>
					<div class="channel-content">
						<ul>
							{pipicms:cascadelist size=10 order=time}
							<li onmousemove="this.className='cbg'" onmouseout="this.className=''"><a href="[cascadelist:link]" title="[cascadelist:name]" class="ah"><img src="[cascadelist:pic]" alt="[cascadelist:name]"></a>
								<h2><a href="[cascadelist:link]">[cascadelist:name]</a></h2>
								<p><b>主演：</b>{if:"[cascadelist:nolinkactor]"=""}未知{else}[cascadelist:nolinkactor]{end if}</p>
								<p><b>地区：</b>{if:"[cascadelist:publisharea]"=""}未知{else}[cascadelist:publisharea]{end if}<em>年份：{if:"[cascadelist:publishtime]"=""}未知{elseif:"[cascadelist:publishtime]"="0"}未知{else}[cascadelist:publishtime]{end if}</em></p>
								<p><b>语言：</b>{if:"[cascadelist:lang]"=""}未知{else}[cascadelist:lang]{end if}<em>[cascadelist:note]</em></p>
								<p><b>导演：</b>{if:"[cascadelist:director]"=""}未知{else}[cascadelist:director]{end if}</p>
								<p><b>时间：</b>[cascadelist:time style=yyyy-mm-dd]</p>
								<p class="xb"><a href="[cascadelist:link]" class="xq bg"></a><a href="[cascadelist:playlink]" class="bf bg"></a></p>
							</li>
							{/pipicms:cascadelist}
						</ul>
					</div>
					<div class="page">
						<div class="p_btns">[cascadelist:pagenumber len=5]</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ad960 mt10">954*80 底部广告位</div>
</div>
<!--网站底部-->
{pipicms:foot}
</body>
</html>{/pipicms:strip}