<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{pipicms:strip}<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{channelpage:typename} - {pipicms:sitename}</title>
<meta name="keywords" content="自行定义关键词" />
<meta name="description" content="自行定义描述" />
<link href="images/../css/Common.css" rel="stylesheet" type="text/css" />
<link href="images/../css/channel.css" rel="stylesheet" type="text/css" />
<link href="images/../css/channel-list.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="images/../js/jquery.min.js"></script>
<script type="text/javascript" src="images/../js/language.js"></script>
</head>
<body>
{pipicms:top}
<div class="wrap w960">
	<div class="maxBox lb mb10 mt10">
		<div class="filter_select_con">
			<div class="filter_select_con_th"><a href="/casecade.php" class="resetBtn">重置条件</a><span class="sNum">
				<h1></h1>
				</span><span class="sMark">影片索引</span><span class="filter_select_con_hot"><!--a href="#" style="color:red;">X</a--></span>
			</div>
			<div class="filter_select_con_tb clearfix">
				<!--dl class="p2">
					<dt></dt>
					<dd></dd>
				</dl-->
				<dl class="p3">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按地区</b>|</dt>
					<dd>{pipicms:areacaslist}<a href='[areacaslist:link]&tid={pipicms:currenttypeid}'>[areacaslist:value]</a><em>|</em>{/pipicms:areacaslist}</dd>
				</dl>
				<dl class="p4">
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按年份</b>|</dt>
					<dd>{pipicms:yearcaslist}<a href='[yearcaslist:link]&tid={pipicms:currenttypeid}'>[yearcaslist:value]</a><em>|</em>{/pipicms:yearcaslist}</dd>
				</dl>
				<dl>
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">按语言</b>|</dt>
					<dd>{pipicms:langcaslist}<a href='[langcaslist:link]&tid={pipicms:currenttypeid}'>[langcaslist:value]</a><em>|</em>{/pipicms:langcaslist}</dd>
				</dl>
				<dl>
					<dt><b style="color:#00ADFF;font-weight:bold;margin: 0 5px;">首字母</b>|</dt>
					<dd>{pipicms:lettercaslist}<a href='[lettercaslist:link]&tid={pipicms:currenttypeid}'>[lettercaslist:value]</a><em>|</em>{/pipicms:lettercaslist}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="maxBox mt10 mb10">
		<div class="box">
			<div class="tips">当前位置：{channelpage:typetext}</div>
		</div>
	</div>
	<div class="ad960 mt10 mb10">954*80 顶部广告位</div>
	<div class="maxBox lb">
		<div class="cntBar fa-left">
			<div class="sideRow">
				<div class="box mb10">
					<div class="caption fa-clear">
						<h3 class="hide-self fa-left">{channelpage:typename}月排行</h3>
						<span>
						<!--<a href="/film9/">更多</a>-->
						</span> </div>
					<div class="content">
						<ul class="ul-top">
							{pipicms:videolist type=current num=10 time=month order=hit}
							<li><a href="[videolist:link]">[videolist:name]<em>[videolist:note]</em></a><span><strong>[videolist:time]</strong></span></li>
							{/pipicms:videolist}
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="caption fa-clear">
						<h3 class="hide-self fa-left">{channelpage:typename}推荐榜</h3>
						<span>
						<!--<a href="/film9/">更多</a>-->
						</span> </div>
					<div class="content">
						<ul class="ul-top">
							{pipicms:videolist type=current num=10 order=commend}
							<li><a href="[videolist:link]">[videolist:name]<em>[videolist:note]</em></a><span><strong>[videolist:time]</strong></span></li>
							{/pipicms:videolist}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cntBox fa-right">
			<div class="conBox">
				<div class="box">
					<div class="caption bigCaption channel-title fa-clear">
						<h2 class="hide-self fa-left">{channelpage:typename}</h2>
						<div class="fenye fa-right" {if:"{channellist:recordcount}"<"10"}style="display:none;"{end if} >
							{channellist:page} / {channellist:pagecount} {if:"{channellist:page}"="1"}<a href="{channellist:nextlink}" class="xyy">下一页</a>{elseif:{channellist:page}={channellist:pagecount}}<a href="{channellist:backlink}" class="syy">上一页</a>{else}<a href="{channellist:backlink}" class="syy">上一页</a><a href="{channellist:nextlink}" class="xyy">下一页</a>{end if}
						</div>
					</div>
					<div class="channel-content">
						<ul>
							{pipicms:channellist size=10 order=time}
							<li onmousemove="this.className='cbg'" onmouseout="this.className=''" class=""> <a href="[channellist:link]" title="[channellist:name]" class="ah"><img src="[channellist:pic]" alt="[channellist:name]"></a>
								<h2><a href="[channellist:link]">[channellist:name]</a></h2>
								<p><b>主演：</b>[channellist:nolinkactor]</p>
								<p><b>地区：</b>{if:"[channellist:publisharea]"=""}未知{else}[channellist:publisharea]{end if}<em>年份：{if:"[channellist:publishtime]"=""}未知{else}[channellist:publishtime]{end if}</em></p>
								<p><b>语言：</b>{if:"[channellist:lang]"=""}未知{else}[channellist:lang]{end if}<em>备注：[channellist:note]</em></p>
								<p><b>时间：</b>12-19</p>
								<p class="xb"><a href="[channellist:link]" class="xq bg"></a><a href="[channellist:playlink]" class="bf bg"></a></p>
							</li>
							{/pipicms:channellist}
						</ul>
					</div>
					<div class="page">
						[channellist:pagenumber len=5]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ad960 mt10">954*80 底部广告位</div>
</div>
<!--网站底部-->
{pipicms:foot}
</body>
</html>{/pipicms:strip}