<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{pipicms:strip}<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{playpage:name} - {playpage:typename} - {pipicms:sitename}</title>
<meta name="keywords" content="自行定义关键词" />
<meta name="description" content="自行定义描述" />
<link href="images/../css/Common.css" rel="stylesheet" type="text/css" />
<link href="images/../css/channel.css" rel="stylesheet" type="text/css" />
<link href="images/../css/content.css" rel="stylesheet" type="text/css" />
<script>var sitePath='';</script>
<script src="/js/common.js"></script>
<script src="/js/function.js"></script>
<script src="images/../js/Common.js"></script>
<script type="text/javascript" src="images/../js/language.js"></script>
</head>
<body>
{pipicms:top}
<div class="wrap w960">
	<div class="ad960 mt10 mb10">954*80 顶部广告位</div>
	<div class="maxBox mt10">
		<div class="box">
			<div class="tips">当前位置：{playpage:textlink}</div>
		</div>
	</div>
	<div class="maxBox mb10 mt10">
		<div class="box">
			<div class="introduce" id="introduce">
				<div class="vod-img"><a href="{playpage:link}"><img src="{playpage:pic}" alt="{playpage:name}"></a></div>
				<div class="vod-c">
					<div class="vod_t">
						<h3 class="title">{playpage:name}</h3>
						<div class="more">
							<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more">分享到：</span> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_qzone"></a> <a class="bds_baidu"></a> <a class="bds_renren"></a> <a class="bds_kaixin001"></a> <a class="bds_tqf"></a> <a class="bds_hi"></a> <a class="bds_qq"></a> <a class="bds_taobao"></a> </div>
							<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=5004441" ></script>
							<script type="text/javascript" id="bdshell_js"></script>
							<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
						</script>
							<!-- Baidu Button END -->
							</span> </div>
					</div>
					<div class="vod_bigc">
						<div class="vod_l">
							<div class="info">
								<div class="score_avg"><font>{playpage:scorenum}</font></div>
								<dl class="Actor">
									<dt>主演：</dt>
									<dd>{playpage:actor}</dd>
								</dl>
								<dl class="status">
									<dt>导演：</dt>
									<dd>{if:"{playpage:director}"=""}未知{else}{playpage:director}{end if}</dd>
								</dl>
								<dl class="Lang">
									<dt>语言：</dt>
									<dd>{playpage:lang}</dd>
								</dl>
								<dl class="Age">
									<dt>年份：</dt>
									<dd>{playpage:publishtime}</dd>
								</dl>
								<dl class="Type">
									<dt>类型：</dt>
									<dd><a href="{playpage:typelink}">{playpage:typename}</a></dd>
								</dl>
								<dl class="Time">
									<dt>时间：</dt>
									<dd>{playpage:addtime}</dd>
								</dl>
								<dl class="gather">
									<dt>人气：</dt>
									<dd>{playpage:hit}</dd>
								</dl>
								<dl class="Intr">
									<dt>剧情：</dt>
									<dd><span>{playpage:des len=50}</span><a href="#Introduce">详细剧情</a></dd>
								</dl>
								<dl class="Grade">
									<dt>评分：</dt>
									<dd>
										{playpage:mark len=9 style=star}
									</dd>
								</dl>
							</div>
						</div>
						<div class="vod_r">300*250 广告位</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="maxBox">
		<div class="box">
			<div class="tips">【电影观看小贴士】：[DVD：普通清晰版] [BD：高清无水印] [HD：高清版] [TS：抢先非清晰版] - 其中，BD和HD版本不太适合网速过慢的用户观看</div>
		</div>
	</div>
	<div class="maxBox">
		{playpage:playlist}
		<div class="box Video-list mt10">
			<div class="play-list b mb">
				<div class="title">
					<h3><span class="{if:"[playlist:from]"="百度影音"}p_baidu{elseif:"[playlist:from]"="优酷"}p_youku{else}p_tudou{end if}"></span>[playlist:from]<span class="tips">( [playlist:intro] )</span></h3>
					<span class="pa order hascoll">排序：<a id="desc_[playlist:i]" class="desc" href="javascript:void(0);" onclick="desc(1,[playlist:i],this)">降序</a><em>|</em><a id="asc_[playlist:i]" href="javascript:void(0);" class="asc asc_on" onclick="desc(0,[playlist:i],this)">升序</a></span></div>
				<div id="play_[playlist:i]">
					<ul>
						[playlist:link]
					</ul>
				</div>
			</div>
		</div>
		{/playpage:playlist}
	</div>
	<div class="maxBox mb10 mt5">
		<div class="box BigBox">
			<div class="title">
				<h3>热门{playpage:typename}：</h3>
			</div>
			<div class="hotVideo">
				<ul class="pic-list">
					{pipicms:videolist type=current num=7 order=hit}
					<li><a class="play-pic" href="[videolist:link]" title="{playpage:name}"><img src="[videolist:pic]" style="display: block;"><span class="play-icon">&nbsp;</span>
						<label class="bg">&nbsp;</label>
						<label class="time">[videolist:note]</label>
						</a>
						<p><a href="[videolist:link]" title="[videolist:name]">[videolist:name]</a></p>
						<p class="txt">[videolist:nolinkactor]</p>
					</li>
					{/pipicms:videolist}
				</ul>
			</div>
		</div>
	</div>
	<a name="Introduce" id="Introduce"></a>
	<div class="maxBox mb10">
		<div class="box BigBox">
			<div class="title">
				<h3>《{playpage:name}》剧情介绍：</h3>
			</div>
			<div class="js">
				<p>{playpage:des}</p>
				<p>温馨提示：您正在观看的“《{playpage:name}》在线观看”的剧情介绍来自于[<font style="text-transform:uppercase;">{pipicms:siteurl}</font>-{pipicms:sitename}]，如果您喜欢本站，请推荐给您的朋友，谢谢您的支持! 最后更新：<font color="red">{playpage:addtime}</font></p>
			</div>
		</div>
	</div>
	<div class="maxBox mb10">
		<div class="box BigBox">
			<div class="title">
				<h3>《{playpage:name}》评论：</h3>
			</div>
			<div class="pl">
				<!-- UY BEGIN -->
				<div id="uyan_frame"></div>
				<script type="text/javascript">
				var uyan_config = {'du':'{pipicms:siteurl}','su':'{playpage:id}'};
				</script>
				<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1723358" async=""></script>
				<!-- UY END -->
			</div>
		</div>
	</div>
	<div class="ad960 mt10">954*80 底部广告位</div>
</div>
<!--网站底部-->
{pipicms:foot}
</body>
</html>{/pipicms:strip}