<div class="foot">
	<p class="footermenu">
		<a href="/faq/">使用帮助</a> |
		<a href="#" title="给我留言" class="color">给我留言</a> |
		<a href="/allmovie.html">最新更新</a> |
		<a href="/top.html" class="color">排 行 榜</a> |
		<a href="/search.php?searchtype=5">索 引 库</a>
	</p>
	<p class="copyrighten">{pipicms:copyright}</p>
	<p class="copyrighten2">Copyright &copy;  2008-2012 <a class="color" href="http://{pipicms:siteurl}">{pipicms:sitename}{pipicms:siteurl}</a></p>
	<p class="copyrightzh">联系我们：xxx@xxx.com</p>
	<p class="dn">{pipicms:sitevisitjs}</p>
</div>